{% extends 'base.html' %}

{% from 'base.html' import form_layout %}

{% block in_style %}
	table{
		margin-top: 15%;
	}
{% endblock %}

{% block main %}
	<div class="col-md-6"> 

		<table class="table table-condensed table-striped">
				<thead>
					<th> Date </th>
					<th> Amount </th>
					<th> Pay Mode </th>
					<th> Balance </th>
					<th> Status </th>
				</thead>
				<tbody>
				{% for x in payments %} 
					<tr>
						<td>{{ x.date_created | date_format }}</td>
						<td>{{ x.amount_paid | comma_sep }}</td>
						<td>{{ pay_lbl[x.payment_mode] }}</td>
						<td>{{ x.balance | comma_sep }}</td>
						<td>{{ x.status }}</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="5"> <i> no records found... </i> </td>
					</tr>
				{% endfor %}
				</tbody>
		</table>
	
	</div>

	<div class="col-md-6">
		
 		<div>

			<table class="table table-condensed table-striped">
				<thead>
					<th> Item </th>
					<th> Amount </th>
				</thead>
				<tbody>
				{% for y in items %} 
					<tr>
						<td> {{ y.item_desc }} </td>
						<td> {{ y.amount | comma_sep }} </td>
					</tr>
				{% else %}
					<tr>
						<td colspan="2"> <i> no records found... </i> </td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
			
			{% set cur = cur_lbl[invoice_data.currency]  %}
			<div style="margin-top: 15%;">
				<button type="button" 
			    class="btn btn-success btn-block"
			    data-toggle="modal" 
				data-target="#exampleModalCenter">
					Make New Payment
			    </button>
			    <br>
			    <h4 class="text-muted" style="text-align: center; 
				                         font-weight: bold; font-size: 15px;">
					Sum of Amount Paid : {{ invoice_data.total_paid | comma_sep }} {{ cur }} 
				</h4>
				{% if discount %}
				<h4 class="text-muted" style="text-align: center;  
					           font-weight: bold; font-size: 15px;">
					Discounted Amount: {{ discount|comma_sep }} {{ cur}} 
				</h4>
				{% endif %}
				<h4 class="text-muted" style="text-align: center;  
					           font-weight: bold; font-size: 15px;">
					Vat calculated: {{ vat | comma_sep }} {{ cur }} 
				</h4>
				<h4 class="text-muted" style="text-align: center; 
				                         font-weight: bold; font-size: 15px;">
					Subtotal : {{ subtotal | comma_sep }} {{ cur }} 
				</h4>
				<h3 style="text-align: center; font-weight: bold;">
					Total : {{ total | comma_sep }} {{ cur }} 
				</h3>
			</div>
			 
 
		</div>
		 
	</div>
	<div class="modal fade" id="exampleModalCenter" tabindex="-1" 
				role="dialog" aria-labelledby="exampleModalCenterTitle" 
				aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered" role="document">
			    <div class="modal-content">
			      	<div class="modal-body">

						{% block forms %}
		 
							<div>
								<form action="" method='post'>			
									{{ form_layout(form) }}			
									<br>
									<hr>  
									<div class="row space_top">
											
										<div class="col-md-6">
											<button type="button" 
						          				class="btn btn-default btn_cl btn-block" data-dismiss="modal">
							            			Cancel
							        		</button>					
										</div>
										<div class="col-md-6">
											<button type="submit" class="btn btn-success btn-block"> Pay Now </button>					
										</div>

									</div>			 
								</form>
							</div>
		
						{% endblock %}

			      	</div>
			    </div>
			</div>
		</div>

{% endblock %}

{% block scripts %}
	
	var error = {{form.errors | safe}}

	if (Object.keys(error).length > 0) {
		$("#exampleModalCenter").modal('show')
	}
	


	var cur_balance = {{cur_balance}};
	var amount_paid = document.getElementById("amount_paid");
	var balance = document.getElementById("balance")
	amount_paid.addEventListener("keyup", calculate);

	function calculate(){
		var displayAmount = 0;
		displayAmount = cur_balance - amount_paid.value;
		if (isNaN(displayAmount)) {
  			balance.value = 0.00;
		} else {
  			balance.value = displayAmount;
		}	
	}

{% endblock %}

