{% extends "email_body.html" %}

{% block body %}

<p>Hi {{name}}, <br />
	<br />
	A new {{type}} has been generated for you by Ecardex Ventures. Here's a quick summary:<br />
	<br />

	{% for x in items %}

	{{ x.item_desc | title }}  :  Amount {{ cur_fmt(x.amount)}} <br/>

	{% endfor %}

	<br /> 
	
	<h3 class="text-center" style="font-weight: lighter; text-align: center;"> 
		Payment Description 
	</h3>

	<table style="border-collapse: collapse; display: table !important;
        width: 100%; margin-bottom: 1rem; background-color: transparent; 
        border-bottom-width: 2px;">
        <tbody> 
        
            <tr>
                <th width='50%' style="text-align: center; 
                    vertical-align: middle; padding: 15px; 
                    border: 1px solid #dee2e6;">
                    Amount Paid&nbsp;
                    <br>
                    <br>
                    Amount to Balance&nbsp;
                    <br>
                    <br>
                    Total Amount&nbsp;
                </th>
                <td width='50%' style="text-align: center; vertical-align: middle; padding: 15px; 
                    border: 1px solid #dee2e6;">
                    {{ cur_fmt(amount_paid) }} {{ currency }} 
                    <br>
                    <br>
                    {{ cur_fmt(amount_balance) }} {{ currency }}
                    <br>
                    <br>
                    {{ cur_fmt(total) }} {{ currency }}
                </td>
            </tr>

        </tbody>
    </table>

	{{type}} PDF copy has been added as an attachment <br/>
	<br />


	Best regards,<br />
	Ecardex Ventures

</p>

{% endblock %}
